
*{
    padding: 0;
    margin: 0;
}
body{
    display: static;
    overflow-x: hidden;
}

header{
    
    height: 77px;
    width: 100%;
    
}

ul li {
    display: inline;
    align-items: right;
    text-align: right;
    
}

a {
    text-decoration: none;
    display: inline;
    margin-left: 20px;
    font-size: 17px;
    color: black;
    font-family: "Lexend Tera", sans-serif; 
    font-weight: bolder;
}


    ul{
        margin-top: -30px;
        margin-left: 900px;
    }


    .logo img{
        height: 50px;
        width: 53.32px;
        margin-left: 80px;
        margin-top: 12px;
    }
    
    .green {
        color: #6EAB36;
        font-family: "Lato",sans-serif;
      }
      
      .blue {
        color:#2A30CA;
        font-family: "Lato",sans-serif;
      }
    .logo p{
        margin-left: 130px;
        margin-top: -40px;
    
    }
    .searching{
        margin-left: -170px;
    }
    .Results3{
        text-align: center;
        font-size: 20px;
        color:#060609;
        margin-top: 40px;
        font-family: "manrope",sans-serif;
        font-weight: bolder;
        margin-left: 20px;
    }
    .Results4{
        text-align:left;
        margin-left: 600px;
        width: 270px;
        height: 35px;
        border-color: rgb(228, 221, 221);
        font-size: 20px;
        border-radius: 20px;
        color:#060609;
        background-color: #ffffff;
        margin-top: 10px;
        font-family: "manrope",sans-serif;
    }
    .sub{
        margin-left: 10px;
        height: 32px;
        background-color:#6EAB36;
        height: 32px;
        color: #ffffff;
    border-radius: 20px;
    border-color: #6EAB36;
    width: 80px;
    margin-bottom: 50px;
    }
    footer{
        background-color:#1E285F;
        height: 300px;
        width: 100%;
    }
    .products{
        display: flex;
        margin-left: 100px;
        color: #ffffff;
        gap: 200px;
    }
    .upper{
        margin-top: 70px;
    }
    .upper p{
    line-height: 30px;
    font-family:"manrope",sans-serif;
    font-size: 15px;
    font-weight: 100;
    }
    .upper h1{
        font-size: 20px;
        font-family:"manrope",sans-serif;
    }
    .logo1 img{
        height: 50px;
        width: 53.32px;
        margin-left: -10px;
        margin-top: -12px;
    }
    .logo1 p{
        margin-left: 40px;
        margin-top: -40px;
        font-weight: bolder;
    }
    .all img{
        height: 60px;
        width: 60px;
    }